<%= render "admin/shared/globalize_locales", resource: @card %>

<%= form_for [:admin, @card] do |f| %>

  <% @card.globalize_locales.each do |locale| %>
    <%= hidden_field_tag "delete_translations[#{locale}]", 0 %>
  <% end %>

  <div class="small-12 medium-6">
    <%= f.label :label %>
    <% @card.globalize_locales.each do |locale| %>
      <% globalize(locale) do %>
        <%= f.text_field "label_#{locale}",
                         class: "js-globalize-attribute",
                         data: {locale: locale},
                         style: display_translation?(locale),
                         label: false %>
      <% end %>
    <% end %>
  </div>

  <%= f.label :title %>
  <% @card.globalize_locales.each do |locale| %>
    <% globalize(locale) do %>
      <%= f.text_field "title_#{locale}",
                       class: "js-globalize-attribute",
                       data: {locale: locale},
                       style: display_translation?(locale),
                       label: false %>
    <% end %>
  <% end %>

  <%= f.label :description %>
  <% @card.globalize_locales.each do |locale| %>
    <% globalize(locale) do %>
      <%= f.text_field "description_#{locale}",
                       rows: 5,
                       class: "js-globalize-attribute",
                       data: {locale: locale},
                       style: display_translation?(locale),
                       label: false %>
    <% end %>
  <% end %>

  <div class="small-12 medium-6">
    <%= f.label :link_text %>
    <% @card.globalize_locales.each do |locale| %>
      <% globalize(locale) do %>
        <%= f.text_field "link_text_#{locale}",
                         class: "js-globalize-attribute",
                         data: {locale: locale},
                         style: display_translation?(locale),
                         label: false %>
      <% end %>
    <% end %>
  </div>

  <div class="small-12 medium-6">
    <%= f.text_field :link_url %>
  </div>

  <%= f.hidden_field :header, value: @card.header? %>

  <div class="image-form">
    <div class="image small-12 column">
      <%= render 'images/nested_image', imageable: @card, f: f %>
    </div>
  </div>

  <%= f.submit(t("admin.homepage.#{action_name}.#{@card.header? ? 'submit_header' : 'submit_card'}"), class: "button success") %>
<% end %>
